.btn-base {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #00c2ff;

  border: 1px solid #00c2ff;
  border-radius: 6px;
}

.btn-l {
  @extend .btn-base;
  width: 133px;
  height: 48px;
  padding: 10px 14px 10px 10px;
  gap: 10px;
}

.btn-l:focus {
  background: #00c2ff;
  border: 1px solid #00ffd1;
}
.btn-l:hover {
  background: #2fdaff;
  border: 1px solid #2fdaff;
}
.btn-l:active {
  background: #00ace2;
  border: 1px solid #00ace2;
}

//for shop-now button
.shop-now {
  padding: 10px 14px;
  width: 159px;
}
