* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  max-width: 1920px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
}

.home-hd-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  padding: 20px 200px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.banner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 280px;
  gap: 100px;

  background: #dafff8;
}

// .title-container {
//   //nothing in this style, but it exist
// }

.catalog-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 200px;
  gap: 40px;

  // background-color: brown;
}

.categories-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  // background-color: chartreuse;
}

.product-grid-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  // background-color: gold;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  // background-color: greenyellow;
}

.product-item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.prices-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  gap: 10px;
}

.epilogue-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.navigation-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.payment-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  float: right;
  padding: 0px;
  gap: 20px;
}
