.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 100px;
  gap: 100px;

  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
}
