.main-container {
  max-width: 1920px;
  box-sizing: border-box;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
}

.home-hd-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  padding: 20px 200px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.banner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 280px;
  gap: 100px;

  background: #dafff8;
}

.title-container {
}
