* {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
}

.small-text {
  font-size: 12px;
  line-height: 15px;

  letter-spacing: 1px;
  text-transform: uppercase;
}

.header-text {
  font-size: 30px;
  line-height: 37px;
}

.btn-l-text {
  font-size: 18px;
  line-height: 22px;
  margin: auto;
  color: #ffffff;
}

.input-text-base {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ececec;
  border-radius: 6px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #bababa;
}

.input-text-l {
  @extend .input-text-base;
  width: 973px;
  height: 48px;

  background-image: url("../img/Search.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box;
}

.input-text-l:focus {
  @extend .input-text-l;
  outline: none;
  border: 1px solid #00ffd1;
  border-radius: 6px;

  color: #000000;
}

.badge-text {
  @extend .small-text;
  padding: 6px;
  width: 108px;
  height: 27px;

  background: #00ffd1;
  border-radius: 4px;
}

.hero-text {
  font-size: 16px;
  line-height: 24px;
}
