.header-text {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}

.btn-l-text {
  width: 71px;
  height: 22px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  text-align: center;

  color: #ffffff;
}

.input-text-base {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ececec;
  border-radius: 6px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #bababa;
}

.input-text-l {
  @extend .input-text-base;
  width: 973px;
  height: 48px;

  background-image: url("../img/Search.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box;
}

.input-text-l:focus {
  @extend .input-text-l;
  outline: none;
  border: 1px solid #00ffd1;
  border-radius: 6px;

  color: #000000;
}

.badge-text {
  /* Badge */
  padding: 6px;
  gap: 10px;

  /* Accent/Fill */

  background: #00ffd1;
  border-radius: 4px;

  /* Winter sale */

  width: 96px;
  height: 15px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 1px;
  text-transform: uppercase;

  /* Basic / Black */

  color: #000000;

  /* Inside auto layout */
}
